# Secrets
.env
hospital.key

# Documentation (Local Only)
Project_Guide_Urdu.md
Project_Report.md
Group_Viva_Guide.md
Pre-Project Things/
Project_Guide_Urdu.md
Project_Report.md
Group_Viva_Guide.md
Pre-Project Things/

# Python
__pycache__/
*.pyc

# System
thumbs.db
.DS_Store
